@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


$ff-sans-serif: 'Lato', sans-serif;


$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 16px; 

//colors

$blue-300: #A6D8FF;
$blue-400: #59B7FF;
$blue-500: #4793CC;
$blue-600: #2D5C80;
$blue-700: #536C80;

$red-300: #FFC4CE;
$red-400: #FF788E;


